$tablet_width: 480px;
$desktop_width: 1024px;
$main_font: 'arial';
$body_circle_color: #3bd6b4;
$login_link: #3bd6b2;

$status-red: #9d2a27;
$status-yellow: yellow;
$status-green: #759632;
$status-black: black;
$status-orange: #ffc000;
$status-brown: #c36518;
