/* Info template */
.notification-info {
  width: 300px;
  height: 100px; }

.notification-info h3 {
  font-size: 1em;
  font-weight: bold;
  margin: 0px;
  padding: 32px 10px 5px; }

.notification-info img {
  float: left;
  margin: 30px 15px 30px 30px; }

/* Error template */
.k-notification-error.k-group {
  background: rgba(255, 0, 0, 0.7);
  color: #ffffff; }

/* Success template */
.k-widget.k-notification.k-notification-success.k-group {
  background: rgba(0, 153, 0, 0.7);
  color: #fff; }

.upload-success {
  width: 240px;
  height: 100px;
  padding: 0 30px;
  line-height: 100px; }

.upload-success h3 {
  font-size: 1.7em;
  font-weight: normal;
  display: inline-block;
  margin: 0;
  vertical-align: middle; }

.upload-success img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px; }

.body-wrap {
  position: relative; }
  .body-wrap .body {
    height: 150px;
    opacity: 0.6; }
  .body-wrap .body-circle {
    border: 1.5px solid #3bd6b4;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url("/Content/img/body.png"); }
  .body-wrap .capsule-0 {
    left: 17px;
    top: 30px; }
  .body-wrap .capsule-1 {
    left: 96px;
    top: 35px; }
  .body-wrap .capsule-2 {
    left: 101px;
    top: 57px; }
  .body-wrap .capsule-3 {
    left: 64px;
    top: 34px; }
  .body-wrap .capsule-4 {
    left: 65px;
    top: 57px; }
  .body-wrap .capsule-5 {
    left: 6px;
    top: 76px; }
  .body-wrap .capsule-6 {
    left: 9px;
    top: 101px; }
  .body-wrap .capsule-7 {
    left: 33px;
    top: 76px; }
  .body-wrap .capsule-8 {
    left: 34px;
    top: 102px; }

.red {
  cursor: pointer;
  color: #9d2a27; }

.yellow {
  cursor: pointer;
  color: yellow; }

.green {
  cursor: pointer;
  color: #759632; }

.black {
  cursor: pointer;
  color: black; }

.orange {
  cursor: pointer;
  color: #ffc000; }

.brown {
  cursor: pointer;
  color: #c36518; }

.web-page #nav-container {
  z-index: 11;
  position: absolute;
  top: 0px;
  bottom: 0;
  left: -270px;
  width: 270px;
  padding: 0;
  background-color: #2c3a46;
  -webkit-overflow-scrolling: touch;
  -webkit-overflow-scrolling: -blackberry-touch; }

@media (min-width: 768px) {
  .web-page #nav-container {
    left: 0; } }

.web-page #nav-container ul {
  padding-left: 0;
  list-style: none;
  background-color: #2c3a46; }

.web-page #nav-wrapper {
  -webkit-overflow-scrolling: touch;
  -webkit-overflow-scrolling: -blackberry-touch;
  width: 100%;
  height: 100%;
  margin-top: 80px; }

.web-page #nav {
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
  -webkit-overflow-scrolling: -blackberry-touch; }

.web-page #nav > li > a > i, .web-page #nav > li > a > .nav-icon {
  display: inline-block;
  margin-right: 10px;
  width: 20px;
  line-height: 1;
  text-align: center;
  font-size: 16px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.web-page #nav a {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  color: #cbd4e3;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.web-page #nav a:hover {
  text-decoration: none;
  color: #fef9d9; }

.web-page #nav > li {
  position: relative;
  margin: 0;
  text-align: left;
  font-weight: normal;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.web-page #nav > li.text-left {
  padding-left: 20px; }

.web-page #nav > li.open > a, .web-page #nav > li:hover > a {
  color: #cbd4e3; }

.web-page #nav > li.open > .fa, .web-page #nav > li:hover > .fa {
  color: #cbd4e3; }

.web-page #nav > li.active > a {
  background-color: #1c242c;
  color: #cbd4e3;
  border-left: 2px solid #cbd4e3; }

.web-page #nav > li.active > .fa {
  color: #fef9d9; }

.web-page #nav > li:first-child > a {
  border-top: 0; }

.web-page #nav > li > a {
  position: relative;
  display: block;
  padding: 20px 20px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.web-page #nav > li > a > .badge {
  position: absolute;
  top: 16px;
  right: 10px; }

.web-page #nav > li > .icon-has-ul {
  position: absolute;
  top: 22px;
  right: 15px; }

.web-page #nav ul {
  display: none; }

.web-page #nav ul a {
  font-size: 13px; }

.web-page #nav ul li {
  position: relative;
  padding: 0; }

.web-page #nav ul li:hover a, .web-page #nav ul li.active a {
  color: #cbd4e3;
  text-decoration: none; }

.web-page #nav ul li:last-child > a {
  border-bottom: 0; }

.web-page #nav ul li > a {
  position: relative;
  display: block;
  padding: 13px 0 13px 25px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.web-page #nav ul li > a:first-child {
  border-top: none; }

.web-page #nav ul li > a i.fa-angle-right {
  margin-right: 25px; }

.web-page #nav ul li > a > .badge {
  position: absolute;
  right: 10px;
  top: 12px; }

.web-page .on-canvas #nav-container {
  left: 0; }

.web-page .on-canvas .top-header .top-nav {
  margin-left: 270px; }

@media (min-width: 768px) {
  .web-page .on-canvas .top-header .top-nav {
    margin-left: 0; } }

.web-page .on-canvas #content {
  left: 270px; }

.web-page .slimScrollDiv {
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1); }

@media (min-width: 768px) {
  .web-page .nav-min #nav-container {
    width: 60px; }
  .web-page .nav-min #content {
    left: 60px; }
  .web-page .nav-min .slimScrollDiv {
    overflow: visible !important;
    height: auto !important;
    -webkit-box-shadow: 0px 0px 0px 0px;
    -moz-box-shadow: 0px 0px 0px 0px;
    -ms-box-shadow: 0px 0px 0px 0px;
    -o-box-shadow: 0px 0px 0px 0px;
    box-shadow: 0px 0px 0px 0px; }
  .web-page .nav-min .slimScrollDiv .slimScrollBar, .web-page .nav-min .slimScrollDiv .slimScrollRail {
    display: none !important; }
  .web-page .nav-min #nav-wrapper {
    overflow: visible !important; }
  .web-page .nav-min #nav {
    overflow: visible !important; }
  .web-page .nav-min #nav > li > a {
    padding: 15px 15px;
    text-align: center; }
  .web-page .nav-min #nav > li > a > i {
    margin: 0;
    font-size: 20px; }
  .web-page .nav-min #nav > li > a > span {
    display: none; }
  .web-page .nav-min .logo span {
    display: none; }
  .web-page .nav-min #nav > li .icon-has-ul {
    display: none; }
  .web-page .nav-min #nav > li > ul {
    position: absolute;
    left: 100%;
    top: 0;
    width: 270px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: 1px 0 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 0 3px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 1px 0 3px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 1px 0 3px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 0 3px rgba(0, 0, 0, 0.2); }
  .web-page .nav-min #nav > li:hover > ul, .web-page .nav-min #nav > li.open > ul {
    display: block !important; } }

@media (min-width: 768px) {
  .web-page .top-header {
    height: 80px; } }

.web-page #nav-container .logo-container {
  width: 100%;
  height: 100%;
  position: relative; }

.web-page #nav-container .logo {
  position: absolute;
  width: 100%;
  height: 80px;
  padding-left: 20px;
  background-color: #2c3a46;
  color: #fff;
  line-height: 80px;
  text-align: left;
  padding: 10px 15px 30px; }

.web-page #nav-container .logo1 {
  width: 30px;
  left: 0; }

.web-page #nav-container .logo2 {
  width: 55%;
  right: 20%; }
  .nav-min .web-page #nav-container .logo2 {
    display: none; }

.web-page #nav-container .logo1, .web-page #nav-container .logo2 {
  height: auto;
  position: absolute;
  bottom: 0; }

.web-page #nav-container .app-version {
  margin: 10px 0 0;
  text-align: center;
  font-size: 0.8em;
  color: #aaa; }
  .nav-min .web-page #nav-container .app-version {
    color: #888; }

@media (min-width: 768px) {
  .web-page .top-header .logo {
    display: inline-block;
    width: 270px;
    background-color: #3bd6b2;
    color: #ffffff;
    border-right: none; }
  .web-page #nav-container .logo {
    display: inline-block;
    width: 270px;
    background-color: #2c3a46;
    color: #ffffff;
    border-right: none; }
  .web-page .nav-min #nav-container .logo {
    width: 60px; } }

.web-page .top-header .logo > a {
  font-size: 15px;
  vertical-align: middle;
  color: #ffffff;
  text-transform: uppercase; }

.web-page #nav-container .logo > a {
  font-size: 15px;
  font-weight: bold;
  vertical-align: middle;
  color: #ffffff;
  text-transform: uppercase; }

@media (min-width: 768px) {
  .web-page .top-header .logo > a {
    color: #ffffff; }
  .web-page #nav-container .logo > a {
    color: #ffffff; } }

.web-page .top-header .logo > a .logo-icon {
  color: #ffffff;
  margin-right: 12px; }

.web-page #nav-container .logo > a .logo-icon {
  color: #ffffff;
  margin-right: 12px;
  font-size: 23px; }

.k-grid {
  font-size: 14px; }

.k-grid {
  font-size: 14px; }

.margin010 {
  margin-top: 10px; }

.k-datepicker .k-tooltip-validation {
  position: absolute;
  top: 24px;
  left: -1px;
  white-space: initial; }

.k-dropdown .k-tooltip-validation.k-invalid-msg {
  position: relative; }

.k-edit-form-container {
  min-width: 460px; }

.k-popup-edit-form .k-dropzone {
  padding-top: 0px;
  padding-left: 0px; }

.filters {
  padding: 10px 0px; }

.panel-body .k-dropdown.k-header, .k-autocomplete.k-state-default {
  background-color: transparent; }

.grid-notes {
  width: 100px; }

#ComplexEquipmentPopup {
  width: 300px;
  height: 100px; }

#ComplexEquipmentPopup .k-autocomplete {
  width: 100%; }

.grid-checkbox {
  margin-left: 10px;
  margin-right: 10px; }
  .grid-checkbox input {
    margin-right: 5px;
    margin-top: -1px;
    vertical-align: middle; }

#userLicensesDD {
  width: 200px; }

