.col-centered {
  float: none;
  margin: 0 auto; }

html, body {
  font-family: "arial"; }

/* Info template */
.notification-info {
  width: 300px;
  height: 100px; }

.notification-info h3 {
  font-size: 1em;
  font-weight: bold;
  margin: 0px;
  padding: 32px 10px 5px; }

.notification-info img {
  float: left;
  margin: 30px 15px 30px 30px; }

/* Error template */
.k-notification-error.k-group {
  background: rgba(255, 0, 0, 0.7);
  color: #ffffff; }

/* Success template */
.k-widget.k-notification.k-notification-success.k-group {
  background: rgba(0, 153, 0, 0.7);
  color: #fff; }

.upload-success {
  width: 240px;
  height: 100px;
  padding: 0 30px;
  line-height: 100px; }

.upload-success h3 {
  font-size: 1.7em;
  font-weight: normal;
  display: inline-block;
  margin: 0;
  vertical-align: middle; }

.upload-success img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px; }

.margin010 {
  margin-top: 10px; }

.k-datepicker .k-tooltip-validation {
  position: absolute;
  top: 24px;
  left: -1px;
  white-space: initial; }

.k-edit-form-container {
  min-width: 460px; }

.k-popup-edit-form .k-dropzone {
  padding-top: 0px;
  padding-left: 0px; }

.filters {
  padding: 10px 0px; }

.panel-body .k-dropdown.k-header {
  background-color: transparent; }

.grid-notes {
  width: 100px; }

