.col-centered {
  float: none;
  margin: 0 auto; }

html, body {
  font-family: "arial"; }

/* Info template */
.notification-info {
  width: 300px;
  height: 100px; }

.notification-info h3 {
  font-size: 1em;
  font-weight: bold;
  margin: 0px;
  padding: 32px 10px 5px; }

.notification-info img {
  float: left;
  margin: 30px 15px 30px 30px; }

/* Error template */
.k-notification-error.k-group {
  background: rgba(255, 0, 0, 0.7);
  color: #ffffff; }

/* Success template */
.k-widget.k-notification.k-notification-success.k-group {
  background: rgba(0, 153, 0, 0.7);
  color: #fff; }

.upload-success {
  width: 240px;
  height: 100px;
  padding: 0 30px;
  line-height: 100px; }

.upload-success h3 {
  font-size: 1.7em;
  font-weight: normal;
  display: inline-block;
  margin: 0;
  vertical-align: middle; }

.upload-success img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px; }

.body-wrap {
  position: relative; }
  .body-wrap .body {
    height: 150px;
    opacity: 0.6; }
  .body-wrap .body-circle {
    border: 1.5px solid #3bd6b4;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url("/Content/img/body.png"); }
  .body-wrap .capsule-0 {
    left: 17px;
    top: 30px; }
  .body-wrap .capsule-1 {
    left: 96px;
    top: 35px; }
  .body-wrap .capsule-2 {
    left: 101px;
    top: 57px; }
  .body-wrap .capsule-3 {
    left: 64px;
    top: 34px; }
  .body-wrap .capsule-4 {
    left: 65px;
    top: 57px; }
  .body-wrap .capsule-5 {
    left: 6px;
    top: 76px; }
  .body-wrap .capsule-6 {
    left: 9px;
    top: 101px; }
  .body-wrap .capsule-7 {
    left: 33px;
    top: 76px; }
  .body-wrap .capsule-8 {
    left: 34px;
    top: 102px; }

.margin010 {
  margin-top: 10px; }

.k-datepicker .k-tooltip-validation {
  position: absolute;
  top: 24px;
  left: -1px;
  white-space: initial; }

.k-dropdown .k-tooltip-validation.k-invalid-msg {
  position: relative; }

.k-edit-form-container {
  min-width: 460px; }

.k-popup-edit-form .k-dropzone {
  padding-top: 0px;
  padding-left: 0px; }

.filters {
  padding: 10px 0px; }

.panel-body .k-dropdown.k-header, .k-autocomplete.k-state-default {
  background-color: transparent; }

.grid-notes {
  width: 100px; }

#ComplexEquipmentPopup {
  width: 300px;
  height: 100px; }

#ComplexEquipmentPopup .k-autocomplete {
  width: 100%; }

